# 10 Steps to Become a Data Scientist - mjbahmani 공부

- URL : https://www.kaggle.com/python10pm/pandas-100-tricks
- 저자의 참조 URL : https://github.com/mjbahmani/10-steps-to-become-a-data-scientist
- Typing and Studying by SGH
- 작성자의 Coursera : https://www.coursera.org/specializations/data-science-python

In [1]:
import scipy.stats as stats
import plotly.plotly as py
import pandas as pd
import os
import numpy as np
import warnings
import json
import scipy
import sys
import csv

In [2]:
print('scipy: {}'.format(scipy.__version__))
print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))
print('Python: {}'.format(sys.version))

scipy: 1.3.1
pandas: 0.25.3
numpy: 1.16.5
Python: 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [3]:
warnings.filterwarnings('ignore')
%precision 2

'%.2f'

In [5]:
print(os.listdir("../Titanic/"))

['.ipynb_checkpoints', '1. Notebooks. Titanic best working Classifier prac.ipynb', '1. Titanic Data Science Solutions .ipynb', '10 Steps to Become a Data Scientist - mjbahmani 공부.ipynb', '2. A Data Science Framework_ To Achieve 99% Accuracy.ipynb', '2. Notebooks . Introduction to Ensembling_Stacking in Python prac.ipynb', 'gender_submission.csv', 'submission.csv', 'submit.csv', 'test.csv', 'train.csv']

In [6]:
hp_train=pd.read_csv('../Titanic/train.csv')
hp_train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S